
 input{
    color: black;
    border-radius: 5px;
 }   

body{
    background-color: #105f89; 
    color: white;
   

}
.titulo{
    color: rgb(0, 0, 0); 
    
    background-color: rgb(31, 91, 22);
}
label{
    color: black;
align-items: center;
}

.name{
    justify-content: center;
    border-radius: 5px;
}
.email{
border-radius: 5px;

}
textarea{
    border-radius: 5px;
}
button{
    color: rgb(0, 0, 0);
    border-radius: 5px;
}
